body {
	background-color: rgb(153, 53, 20);
}

#logo {
	height: 550px;
	width: 466px;
	margin: auto;
	position: relative;
}

#glorien {
	height: 100px;
	width: 200px;
	position: absolute;
	left: 87px;
	top: 115px;
	display: none;
}

#logo:hover #glorien {
	display: block;
} 